.wrap-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 20px 0;
}

.container-border-shadow {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 30px 20px 50px;
    min-width: 310px;
    width: min(95%, 450px);
    height: 100%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3),
        4px 8px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
}

.text-name-container {
    font-size: 1.5rem;
    font-weight: 600;
}

/* estilos para las skills */
.item--flex-container {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.item--flex-container p {
    margin: 0;
    width: 80px;
}

.grid-skills {
    display: grid;
    gap: 1.5rem;
}

.title-item {
    margin-bottom: 1rem;
}

.elem-imag-skill {
    display: block;
    margin: auto;
    height: 55px;
    margin-bottom: 5px;
}

.elem-name-skill {

    text-align: center;
    font-size: .8rem;
    font-weight: 600;
}

@media (min-width:768px) {

    .container-border-shadow {
        width: min(90%, 800px);
    }

    .grid-skills {
        grid-template-columns: auto auto;
    }

}