<div class="page-background">
    <div class="wrap-page">
        <div class="shade-page"></div>
        <div class="container-page" *ngIf="(dataPerson|async) as person">
            <div class="color-contrast">
                <div class=" container-img">
                    <img class="img-header-page" width="100%" height="100%" src="./assets/foto_perfil.jpg" alt="">
                </div>
            </div>
            <div class="area-container-name-job">
                <p class="text-name">{{ person?.name }}</p>
                <div class="container-text-job">
                    <span class="border-top-job"></span>
                    <p class="text-job">
                        {{person?.job}}
                    </p>
                    <span class="border-top-job"></span>
                </div>
            </div>
            <div class=" color-contrast">
                <div class="container-contact">
                    <p class="text-contact">
                        contact
                    </p>
                    <ul class="list-contact-info">
                        <li> <span></span> {{person?.contact?.email}}</li>
                        <li> <span></span>{{person?.contact?.telf1}}</li>
                        <li> <span></span>{{person?.contact?.telf2}}</li>

                    </ul>
                </div>
            </div>
            <div class="container-sections">
                <div class="descr-section">
                    <div *ngIf="person?.ability?.length">
                        <p class="descr-s-title">Habilidades</p>
                        <ul class="list-elem-ability">
                            <li *ngFor="let abi of person?.ability">
                                {{abi}}
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="person?.technical_skills?.length">
                        <p class="descr-s-title">Competencias Técnicas</p>
                        <ul class="list-elem-tech-skills">
                            <li *ngFor="let ts of person?.technical_skills">
                                <img class="elem-imag-skill" [src]="ts.imag_tech" [alt]="ts.name_skill" srcset="">
                                <p class="elem-name-skill">{{ts.name_skill}}</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p class="descr-s-title">Educacion</p>
                        <ul>
                            <li *ngFor="let edu of person?.education">
                                {{ edu.career}}

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>