<div class="page-background">
    <div class="container-page">
        <div class="color-contrast">
            <div class="container-img">
                <img class="img-header-page" width="100%" height="100%" src="./assets/foto_perfil.jpg"
                    alt="foto de Antonio">
            </div>
        </div>

        <div class="area-container-name">
            <p class="text-name">helí antonio villasante hilares</p>
            <p class="text-job">programdor web</p>
        </div>
        <div class="color-contrast">contacto</div>
        <div>otro2</div>
    </div>
</div>