
.page-background{
    display: flex;
    flex-direction: column; 


}
.wrap-page{
    width: 800px;
    margin: 60px auto;
    position: relative;
}
.shade-page{
    position: absolute;
    width: 110%;
    height: 110%;
    border-radius: 20px;
    background-color: var(--color-shade-page);
    z-index: -1;
    transform: rotateZ(-10deg) translateX(-5%);
}
.container-page{
    display: grid;
    grid-template-columns: 14rem auto ;
    grid-template-rows: 14rem auto;
    overflow: hidden;
    background-color: var(--color-bg-page);
    min-height: 100vh;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6),6px 8px 15px rgba(0, 0, 0, 0.4),8px 12px 15px rgba(0, 0, 0, 0.2) ;
    padding: 20px;
    border-radius: 2px;
    gap: 0 2rem;
    border-radius: 20px;
}
.color-contrast{
    background-color: var(--color-contrast-page);
    color: floralwhite;
    border-radius: 17%;
}

.area-container-name-job{
    background-color: var(--color-bg-area-name);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    text-transform: capitalize;
    border-radius: 0 50px ;
}
.container-text-job{
    /* width: 100%; */
    padding: auto;
}
.text-name,.text-job{
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.text-job{
    font-size: 2rem;
    margin: 0 5px;
}

.text-job , .border-top-job{
    display: inline-block;

}
.border-top-job{

    width: 2.5rem;
    height: 0.8rem;
    border-top: 5px solid black;
}
/* .div-container-imag{
    border-radius: 20px 0 0 0;
} */

.img-header-page{
    box-sizing: border-box;
    border: 10px double var(--color-bg-page) ;
    border-radius: 50%;
}
.container-img{

    margin: 5px;
}
.container-contact{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 50px;
}
.text-contact{
    text-transform: capitalize;
    
    font-size: 1.8rem;
    border: 4px solid floralwhite;
    padding: 10px 15px;
    margin: 0;
    font-weight: bold;
}

ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}
li{
    display: block;
}
.list-contact-info{
    margin-top: 20px;
    font-size: 1.2rem;   
}
.list-contact-info li{
    margin: 15px;
}