.ic-main-inico {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ic-wrap-inicio {

    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3), 4px 8px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    width: max(90%, 300px);
    height: 34rem;



}

.ic-container-inicio {
    /* overflow: hidden; */
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;


    padding: 1.5rem;

}


/* @keyframes promt {
    50% {
        opacity: 1;
    }

    54% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
} */



/* estilos del svg */
/* .backgroud-svg {
    max-width: 100%;
    width: min-content;
    position: relative;
    height: 100%;
}

.backgroud-svg svg {
    width: min-content;
    height: 100%;
} */

/* estilos de las areas de mensaje */

.area-mensajes {
    /* position: absolute; */
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: min(100%, 275px);
    justify-content: flex-end;

}

.container-mesage-tag {
    display: none;
    position: relative;
    background-color: rgb(39, 39, 39);
    min-width: 4rem;
    width: fit-content;
    min-height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    opacity: 0;

}

.mesage {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}


.puntero-nube {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 1rem;
    border-top: 1rem solid rgb(39, 39, 39);
    border-right: 1.3rem solid transparent;
}

.show {

    display: block;
    opacity: 1;
}



@media (min-width:575px) {

    .ic-wrap-inicio {
        width: min(90%, 600px);
        height: 500px;

    }


    .area-mensajes {
        align-items: center;
        width: 100%;
    }

    .container-mesage-tag {
        display: block;
    }

    .container-mesage-tag .puntero-nube {
        display: none;
    }

    .text-start {
        text-align: start;
    }

    /* .mesage {
        font-weight: 600;
    } */

}