<div class="ic-main-inico">
    <div class="ic-wrap-inicio">
        <div class="ic-container-inicio">

            <div class="area-mensajes">
                <div class="container-mesage-tag show">
                    <div class="mesage">{{presentacionNombre}}</div>
                    <span class="puntero-nube"></span>
                </div>
                <div class="container-mesage-tag {{latencia1?'show':''}}">
                    <div class="mesage">{{presentacionOcupacio}}</div>
                    <span class="puntero-nube"></span>
                </div>
                <div class="container-mesage-tag {{latencia2?'show':''}} messasge-photo">
                    <div class="mesage">
                        <div class="networkes">
                            <div *ngFor="let rs of redesSociale">
                                <a href="{{rs.link}}" target="_blank"><img src="{{rs.icon}}" alt="" width="40px"></a>
                            </div>
                        </div>
                        <img id="foto-perfil" src="./assets/img/foto_perfil.jpg" alt="" width="220px">
                    </div>
                    <!-- <div class="networkes">
                        <div *ngFor="let rs of redesSociale">
                            <a href="{{rs.link}}" target="_blank"><img src="{{rs.icon}}" alt="" width="40px"></a>
                        </div>
                    </div> -->
                    <span class="puntero-nube"></span>
                </div>

            </div>
        </div>
    </div>
</div>