.ic-main-inico {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ic-wrap-inicio {

    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3), 4px 8px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    width: max(90%, 300px);
    height: 34rem;



}

.ic-container-inicio {
    /* overflow: hidden; */
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;


    padding: 1.5rem;

}


/* @keyframes promt {
    50% {
        opacity: 1;
    }

    54% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
} */

/* estilos de las areas de mensaje */

.area-mensajes {
    display: flex;
    flex-direction: column;
    width: min(100%, 275px);
    justify-content: flex-end;

}

.container-mesage-tag {
    visibility: hidden;
    position: relative;
    background-color: rgb(39, 39, 39);
    min-width: 4rem;
    width: fit-content;
    min-height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;


}

.mesage {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}


.puntero-nube {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 1rem;
    border-top: 1rem solid rgb(39, 39, 39);
    border-right: 1.3rem solid transparent;
}

.messasge-photo {
    display: flex;
    gap: 1rem;
    margin-bottom: 0;
    background-color: transparent;
    padding: 0;
    margin: auto;
}

.messasge-photo .mesage {
    overflow: hidden;
    aspect-ratio: 1;
    width: 220px;
    border-radius: 1rem;
}

.messasge-photo .puntero-nube {
    display: none;
}

#foto-perfil {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;



}

.networkes {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 .5rem;
    justify-content: space-between;
    align-items: center;
}

.show {

    visibility: visible;
}



@media (min-width:575px) {

    .ic-wrap-inicio {
        width: min(90%, 640px);
        height: 500px;

    }


    .area-mensajes {
        align-items: center;
        width: 100%;
    }

    .messasge-photo .mesage {
        width: 250px;
    }


    .container-mesage-tag .puntero-nube {
        display: none;
    }


}