<div class="ic-main-inico">
    <div class="ic-wrap-inicio">
        <div class="ic-container-inicio">

            <p class="text-start">
                <span>{{presentacionNombre}}</span> <span class="sl" *ngIf="saltoLinea"></span>
                <span>{{presentacionOcupacio}}</span>
                <span class="promt-text-start-animation">|</span>
            </p>
            <div class="ic-container-imag">

                <div class="ic-img-perfil">
                    <img src="./assets/img/foto_perfil.jpg" alt="Antnio">
                </div>
                <div class="container-networks">
                    <a class="link-network" *ngFor="let r of redesSociale " href="{{r.link}}" target="_blank">

                        <div class="container-img-network">
                            <img class="img-network" src="{{r.icon}}" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>