<div class="wrap-portafolio">
    <div class="container-border-shadow">
        <p class="text-name-container">Portafolio</p>
        <div class="pc-container-grid">
            <div class="item-grid" *ngFor="let e of elemPortafolio">
                <!-- <div class="img-item-container">
                </div> -->
                <img class="img-item" [src]="e.img" alt="{{e.nombre}}">
                <div class="text-item">
                    <p>{{e.nombre}}</p>
                </div>
                <a class="link-item" target="_blank" [href]="e._url"></a>
            </div>

        </div>
    </div>
</div>